html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", "Arial", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
