.main-green-btn {
  text-decoration: none;
  padding: 15px 30px;
  background-color: var(--color-green);
  border-radius: 6px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  font-family: "Fraunces", "Barlow", "Arial", sans-serif;
  color: var(--color-cream);
  display: inline-block;

  &:hover {
    background-color: #66d2cf;
  }
  
  &:disabled {
    background-color: #e2dedb;
  }
}