.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 43px;
  
  &__logo {
    display: block;
  }
}


.nav {
  display: flex;
  align-items: center;
  
  &__item:not(:last-child) {
    margin-right: 33px;
  }

  &__link {
    color: var(--color-grey);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;

    &:active {
      color: var(--color-dark);
    }
  }
}
