.hero {
  min-height: 600px;
  background-image: url("./../image/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 136px;
  padding-top: 115px;
  padding-left: 85px;

  &__left {
    max-width: 493px;
  }

  &__heading {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    font-family: "Fraunces";
    color: var(--color-cream);
    margin: 0;
    margin-bottom: 32px;
  }
  
  &__text {
    font-size: 16px;
    line-height: 26px;
    color: var(--color-cream);
    opacity: 0.8;
    margin-bottom: 56px;
  }
}